html {
  scroll-behavior: smooth;
  font-family: "Roboto Flex", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
p,
a {
  font-family: "Roboto Flex", sans-serif;
  letter-spacing: 7px;
  text-transform: uppercase;
  color: #fff;
}